

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
    top: 50%;
    left: 50%;
  }
  
  .card-header {
    font-weight: bold;
    
  }

  